node_modules/
.github/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
*.config.js
*.test.js
shims.js
*.gz
*.tgz
*.log
*.bak
*.env
!*.map
shims.js
test/
